# Homework 2

2.  
> a. $$Gini = 1 - \sum_{i=0}^n p_i^2  = 1 - \frac{10^2} {20^2} + \frac{10^2} {20^2} = 1 - \frac{100 + 100} {400} = \frac {1} {2} = 0.5$$
> b. Customer ID Gini = 0<br/>
> c. Gender Gini =  0.48 <br/>
> d. Car Type Gini =  0.163 <br/>
> e. Shirt Size Gini =  0.4915 <br/>
> f. The feature to split on would be Shirt Size.<br/>
> g. Cust ID wouldn't be suitable because it would fracture the tree into leaves based on ID. This would overfit our model and wouldn't make sense.
3. 
> a. entropy = 0.991076 <br/>
> b. The information gain for **a1** is 0.2294 and for **a2** is 0.0072 <br/>
> c. 
>> Information Gain from 1.0:  0.14269027946047563 <br/>
>> Information Gain from 6.0:  0.018310781820059074 <br/>
>> Information Gain from 5.0:  0.007214618474517431 <br/>
>> Information Gain from 4.0:  0.07278022578373267 <br/>
>> Information Gain from 7.0:  0.10218717094933338 <br/>
>> Information Gain from 3.0:  0.002565287367137681<br/>
>> Information Gain from 8.0:  0.0 <br/>

3(cont). 
> d. **a1** is the best split if we are going by information gain. <br/>
> e. **a1** has a smaller misclassification value thus its a better split. <br/>
> f. **a1** has a smaller and thus better gini index and it produces purer nodes. <br/>

5. 
> a. attribute A has an informaton gain of 0.2812908992306925, while B has a information gain of 0.256425891682003 a decision tree would choose A. <br/>
> b. A has a gini of 0.48979591836734704 and B has  gini index of 0.6527777777777777 thus an tree algorithm would choose A because a has less gini and thus produces purer nodes <br/>
> c. It wouldn't be possible that information gain and gini favor different attributes. They both measure how impure the child nodes are and thus they are more symmetrical. It wouldn't make sense that they would choose different variables. <br/>
6. 
> a. The gini index of the parent is 0.42 and the misclassification of the parent is  0.3.<br/>
> b. The weighted gini for C1 is 0. The weighted gini for C2 is 0.3428571428571429. Thus the total weighted gini is 0.3428571428571429. This attribute test is better because it is more representative of the over all class proportions. <br/>
> c. Weighted misclassification for C1 is 0, for C2 is 0.3. There is almost no difference between misclassification and weighted misclassification. <br/>
7. 
> a. My first split would be with Z. For my second split I would choose X for both of the other nodes. The total error on the tree would 1.0. <br/>
> b. I would split the both children nodes with Y. <br/>
> c. I would say that split using a greedy algorithm doesn't work out in optimally splitting the tree.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

from sklearn.datasets import load_iris

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz

from sklearn import model_selection
from sklearn import metrics

from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA

import matplotlib.pyplot as plt

from helper import my_gini
from helper import my_entropy
from helper import my_misclass
from helper import information_gain
from helper import weighted_gini
from helper import weighted_misclass
from helper import gini_off_col

%matplotlib inline

In [9]:
exercise_2 = {"Cust ID": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
              "Gender": ["M","M","M","M","M","M","F","F","F","F","M","M","M","M","F","F","F","F","F","F"], 
              "Car Type": ["Family","Sports","Sports","Sports","Sports","Sports","Sports","Sports","Sports","Luxury","Family","Family","Family","Luxury","Luxury","Luxury","Luxury","Luxury","Luxury","Luxury"],
              "Shirt Size":["Small","Medium","Medium","Large","Extra Large","Extra Large","Small","Small","Medium","Large","Large","Extra Large","Medium","Extra Large","Small","Small","Medium","Medium","Medium","Large"],
              "Target":["C0","C0","C0","C0","C0","C0","C0","C0","C0","C0","C1","C1","C1","C1","C1","C1","C1","C1","C1","C1"]}
pd_exercise_2 = pd.DataFrame(data=exercise_2)
car = []
gender = []
print("Full data set gini:", my_gini(pd_exercise_2, "Target"))
print("Gender gini:",gini_off_col(pd_exercise_2, "Gender", "Target"))
print("Car Type:",gini_off_col(pd_exercise_2, "Car Type", "Target"))
print("Shirt Size:", gini_off_col(pd_exercise_2,"Shirt Size","Target" ))
print("")

Full data set gini: 0.5
Gender gini: 0.48
Car Type: 0.16250000000000003
Shirt Size: 0.49142857142857144

In [12]:
exercise_3 = {"a1": [True,True,True,False,False,False,False,True,False], 
              "a2": [True,True,False,False,True,True,False,False,True],
              "a3":[1.0,6.0,5.0,4.0,7.0,3.0,8.0,7.0,5.0], "Target":["+","+","-","+","-","-","-","+","-"]}
pd_exr_3 = pd.DataFrame(data=exercise_3)
pd_exr_3.describe()

             a3
count  9.000000
mean   5.111111
std    2.204793
min    1.000000
25%    4.000000
50%    5.000000
75%    7.000000
max    8.000000

In [13]:
a1_split_right = pd_exr_3[pd_exr_3["a1"] == True]
a1_split_left = pd_exr_3[pd_exr_3["a1"] == False]
print(my_entropy(a1_split_right, "Target"))
print(my_entropy(a1_split_left, "Target"))
print("Information Gain from A1: ", information_gain(pd_exr_3,a1_split_right,a1_split_left,"Target" ))

0.8112781244591328
0.7219280948873623
Information Gain from A1:  0.22943684069673975

In [14]:
a2_split_right = pd_exr_3[pd_exr_3["a2"] == True]
a2_split_left = pd_exr_3[pd_exr_3["a2"] == False]
print(my_entropy(a2_split_right, "Target"))
print(my_entropy(a2_split_left, "Target"))
print("Information Gain from A2: ", information_gain(pd_exr_3,a2_split_right,a2_split_left,"Target" ))

0.9709505944546686
1.0
Information Gain from A2:  0.007214618474517431

In [22]:
print("Misclassification of a1:",min(my_misclass(a1_split_right, "Target"), my_misclass(a1_split_left, "Target")))
print("Misclassification of a2:",min(my_misclass(a2_split_right, "Target"), my_misclass(a2_split_left, "Target")))

Misclassification of a1: 0.25
Misclassification of a2: 0.5

In [16]:
print("Gini for a1:", my_gini(a1_split_right, "Target") + my_gini(a1_split_left, "Target"))
print("Gini for a2:", my_gini(a2_split_right, "Target") + my_gini(a2_split_left, "Target"))

Gini for a1: 0.6949999999999998
Gini for a2: 0.98

In [18]:
splitter = []
for a in pd_exr_3["a3"]:
    if a not in splitter:
        splitter.append(a)
        r = pd_exr_3[pd_exr_3["a3"] > a]
        l = pd_exr_3[pd_exr_3["a3"] <= a]
        print("Information Gain from " + str(a) + ": ", information_gain(pd_exr_3,r,l,"Target" )) 
        # THERE IS NOTHING GREATER THAN 8

Information Gain from 1.0:  0.14269027946047563
Information Gain from 6.0:  0.018310781820059074
Information Gain from 5.0:  0.007214618474517431
Information Gain from 4.0:  0.07278022578373267
Information Gain from 7.0:  0.10218717094933338
Information Gain from 3.0:  0.002565287367137681
Information Gain from 8.0:  0.0

In [15]:
print(my_entropy(pd_exr_3, "Target"))

0.9910760598382222

In [16]:
exercise_5 = {"A": [True,True,True,True,True,False,False,False,True, True], 
              "B": [False, True,True,False,True,False,False,False,True,False],
             "Class Label":["+","+","+","-","+","-","-","-","-","-"]}
pd_exr_5 = pd.DataFrame(data=exercise_5)
pd_exr_5.describe()

           A      B Class Label
count     10     10          10
unique     2      2           2
top     True  False           -
freq       7      6           6

In [17]:
right_a_exr_5 = pd_exr_5[pd_exr_5["A"] == True]
left_a_exr_5 = pd_exr_5[pd_exr_5["A"] == False]
print("info gain for A:", information_gain(pd_exr_5, right_a_exr_5, left_a_exr_5, "Class Label"))
print("Gini index for A:", my_gini(right_a_exr_5, "Class Label") + my_gini(left_a_exr_5, "Class Label"))

info gain for A: 0.2812908992306925
Gini index for A: 0.48979591836734704

In [18]:
right_b_exr_5 = pd_exr_5[pd_exr_5["B"] == True]
left_b_exr_5 = pd_exr_5[pd_exr_5["B"] == False]
print("info gain for B:", information_gain(pd_exr_5, right_b_exr_5, left_b_exr_5, "Class Label"))
print("Gini index for B:", my_gini(right_b_exr_5, "Class Label") + my_gini(left_b_exr_5, "Class Label"))

info gain for B: 0.256425891682003
Gini index for B: 0.6527777777777777

In [19]:
exercise_6 = {"P":["+","+","+","-","-","-","-","-","-","-"]}
pd_exr_6 = pd.DataFrame(data=exercise_6)
pd_exr_6.describe()
print("Gini of parent:", my_gini(pd_exr_6, "P"))
print("Misclassification of parent:", my_misclass(pd_exr_6,"P"))

Gini of parent: 0.42000000000000004
Misclassification of parent: 0.30000000000000004

In [20]:
c1_data = {"P":["-", "-", "-"]}
pd_c1 = pd.DataFrame(data=c1_data)
print(weighted_gini(pd_exr_6, pd_c1, "P"))

0.0

In [21]:
c2_data = {"P": ["-", "-", "-", "-", "+", "+","+"]}
pd_c2 = pd.DataFrame(data=c2_data)
print(weighted_gini(pd_exr_6, pd_c2, "P"))

0.3428571428571429

In [22]:
print(weighted_misclass(pd_exr_6, pd_c1, "P"))

0.0

In [23]:
print(weighted_misclass(pd_exr_6, pd_c2, "P"))

0.3

In [24]:
exercise_7 = {"X": [0,0,0,0,1,1,1,1],
              "Y": [0,0,1,1,0,0,1,1],
              "Z": [0,1,0,1,0,1,0,1],
              "Class C1 examples": [5, 0, 10, 45, 10,25, 5, 0],
              "Class C2 examples": [40, 15, 5, 0, 5, 0, 20, 15]
              }
pd_exr_7 = pd.DataFrame(data=exercise_7)
pd_exr_7.describe()

              X         Y         Z  Class C1 examples  Class C2 examples
count  8.000000  8.000000  8.000000           8.000000           8.000000
mean   0.500000  0.500000  0.500000          12.500000          12.500000
std    0.534522  0.534522  0.534522          15.352989          13.363062
min    0.000000  0.000000  0.000000           0.000000           0.000000
25%    0.000000  0.000000  0.000000           3.750000           3.750000
50%    0.500000  0.500000  0.500000           7.500000          10.000000
75%    1.000000  1.000000  1.000000          13.750000          16.250000
max    1.000000  1.000000  1.000000          45.000000          40.000000

In [25]:
def sum_misclassification(panda, col1, col2):
    p = []
    p.append(panda[col1].sum()/(panda[col1].sum() + panda[col2].sum()))
    p.append(panda[col2].sum()/(panda[col1].sum() + panda[col2].sum()))
    return 1 - max(p)
exr7_c1, exr7_c2 = "Class C1 examples", "Class C2 examples"

In [26]:
false_x = pd_exr_7[pd_exr_7["X"] == 0]
true_x = pd_exr_7[pd_exr_7["X"] == 1]
print(sum_misclassification(false_x, exr7_c1, exr7_c2))
print(sum_misclassification(true_x, exr7_c1, exr7_c2))

0.5
0.5

In [27]:
false_y = pd_exr_7[pd_exr_7["Y"] == 0]
true_y = pd_exr_7[pd_exr_7["Y"] == 1]
print(sum_misclassification(false_y, exr7_c1, exr7_c2))
print(sum_misclassification(true_y, exr7_c1, exr7_c2))

0.4
0.4

In [28]:
false_z = pd_exr_7[pd_exr_7["Z"] == 0]
true_z = pd_exr_7[pd_exr_7["Z"] == 1]
print(sum_misclassification(false_z, exr7_c1, exr7_c2))
print(sum_misclassification(true_z, exr7_c1, exr7_c2))

0.30000000000000004
0.30000000000000004

In [29]:
z_neg_x_pos = false_z[false_z["X"] == 1]
z_neg_x_neg = false_z[false_z["X"] == 0]
z_pos_x_pos = true_z[true_z["X"] == 1]
z_pos_x_neg = true_z[true_z["X"] == 0]
print(sum_misclassification(z_neg_x_pos, exr7_c1, exr7_c2))
print(sum_misclassification(z_neg_x_neg, exr7_c1, exr7_c2))
print(sum_misclassification(z_pos_x_pos, exr7_c1, exr7_c2))
print(sum_misclassification(z_pos_x_neg, exr7_c1, exr7_c2))

0.375
0.25
0.375
0.25

In [30]:
z_neg_y_pos = false_z[false_z["Y"] == 1]
z_neg_y_neg = false_z[false_z["Y"] == 0]
z_pos_y_pos = true_z[true_z["Y"] == 1]
z_pos_y_neg = true_z[true_z["Y"] == 0]
print(sum_misclassification(z_neg_y_pos, exr7_c1, exr7_c2))
print(sum_misclassification(z_neg_y_neg, exr7_c1, exr7_c2))
print(sum_misclassification(z_pos_y_pos, exr7_c1, exr7_c2))
print(sum_misclassification(z_pos_y_neg, exr7_c1, exr7_c2))

0.375
0.25
0.25
0.375

In [31]:
x_neg_y_pos = false_x[false_x["Y"] == 1]
x_neg_y_neg = false_x[false_x["Y"] == 0]
x_pos_y_pos = true_x[true_x["Y"] == 1]
x_pos_y_neg = true_x[true_x["Y"] == 0]
print(sum_misclassification(x_neg_y_pos, exr7_c1, exr7_c2))
print(sum_misclassification(x_neg_y_neg, exr7_c1, exr7_c2))
print(sum_misclassification(x_pos_y_pos, exr7_c1, exr7_c2))
print(sum_misclassification(x_pos_y_neg, exr7_c1, exr7_c2))

0.08333333333333337
0.08333333333333337
0.125
0.125

In [32]:
x_neg_z_pos = false_x[false_x["Z"] == 1]
x_neg_z_neg = false_x[false_x["Z"] == 0]
x_pos_z_pos = true_x[true_x["Z"] == 1]
x_pos_z_neg = true_x[true_x["Z"] == 0]
print(sum_misclassification(x_neg_z_pos, exr7_c1, exr7_c2))
print(sum_misclassification(x_neg_z_neg, exr7_c1, exr7_c2))
print(sum_misclassification(x_pos_z_pos, exr7_c1, exr7_c2))
print(sum_misclassification(x_pos_z_neg, exr7_c1, exr7_c2))

0.25
0.25
0.375
0.375

## Problem 1
*****

Load the iris sample dataset from sklearn **loadiris()** into Python using a Pandas dataframe.  Induce a set of binary Decision Trees with a minimum of 2 instances in the leaves, no splits of subsets below 5, and an maximal tree depth from 1 to 5 (you can leave the majority parameter to 95%).  Which depth values result in the highest Recall? Why? Which value resulted in the lowest Precision? Why?  Which value results in the best F1 score?  Explain the difference between the micro/macro/weighted methods of score calculation.

### Answer 

All depth greater than or equal to 2 have the highest recall. The reason recall improves from depth 1 to depth 2+ is because at depth one we have 2 leafs. Adding more levels allows for leafs to develop that will identify the 3 class. Thus TP increases and so does Recall. The lowest precision was with depth 1, because there was a large number of FP. The best f-score is for 2+. The Macro method takes the average of all scores from different classes. Micro takes the ratio of the overall classifier using all the classes information. Weighted calculation looks at the individual calculations of metrics in each class but sums them based on weight.

In [33]:
iris = load_iris()
pd_iris = pd.DataFrame(data = np.c_[iris.data, iris.target], columns = iris.feature_names+['species'])

pd_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [34]:
data_train, data_test, target_train, target_test = model_selection.train_test_split(iris.data,
                                                                    iris.target,
                                                                    test_size=0.2)

In [35]:
for i in range(5):
    predicted = DecisionTreeClassifier(max_depth = (i+1), min_samples_leaf = 2, min_samples_split = 5).fit(data_train, target_train).predict(data_test)
    print("----------------------------Tree with depth: " + str(i+1)+" -----------------------\n")
    print(metrics.classification_report(target_test,
                                    predicted))
    print("----------------------------Confusion Matrix---------------------------\n")
    print(metrics.confusion_matrix(target_test,
                               predicted))
    print()

----------------------------Tree with depth: 1 -----------------------

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       0.00      0.00      0.00        12
           2       0.45      1.00      0.62        10

   micro avg       0.60      0.60      0.60        30
   macro avg       0.48      0.67      0.54        30
weighted avg       0.42      0.60      0.47        30

----------------------------Confusion Matrix---------------------------

[[ 8  0  0]
 [ 0  0 12]
 [ 0  0 10]]

----------------------------Tree with depth: 2 -----------------------

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       0.92      0.92      0.92        12
           2       0.90      0.90      0.90        10

   micro avg       0.93      0.93      0.93        30
   macro avg       0.94      0.94      0.94        30
weighted avg       0.93      0.93      0.93        30

----------------------------Confusion Matrix---------------------------

[[ 8  0  0]
 [ 0 11  1]
 [ 0  1  9]]

----------------------------Tree with depth: 3 -----------------------

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       1.00      0.92      0.96        12
           2       0.91      1.00      0.95        10

   micro avg       0.97      0.97      0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

----------------------------Confusion Matrix---------------------------

[[ 8  0  0]
 [ 0 11  1]
 [ 0  0 10]]

----------------------------Tree with depth: 4 -----------------------

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       1.00      1.00      1.00        12
           2       1.00      1.00      1.00        10

   micro avg       1.00      1.00      1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

----------------------------Confusion Matrix---------------------------

[[ 8  0  0]
 [ 0 12  0]
 [ 0  0 10]]

----------------------------Tree with depth: 5 -----------------------

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       1.00      0.92      0.96        12
           2       0.91      1.00      0.95        10

   micro avg       0.97      0.97      0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

----------------------------Confusion Matrix---------------------------

[[ 8  0  0]
 [ 0 11  1]
 [ 0  0 10]]

/home/mahmoud/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## Problem 2
***
Load the **Breast Cancer Wisconsin (Diagnostic)** sample dataset from the **UCI Machine Learning Repository** (The discrete version at: **breast-cancer-wisconsin.data**)  into Python using  a  Pandas  dataframe.   Induce  a  binary Decision Tree with a minimum of 2 instances in the leaves, no splits of subsets below 5, and a maximal tree depth of 2 (use the default Gini criterion). Calculate the  Entropy,  Gini,  and  Misclassification  Error  of  the  first  split  -  what  is  the Information  Gain?   What  is  the  feature  selected  for  the  first  split,  and  what value determines the decision boundary?

### Answer

Entropy of the first split left child: 0.18411742692826688 <br/> 
Entropy of the first split right child: 0.6144552279266028 <br/>
Total Entropy first split: 0.7985726548548697 </br>
Gini of the first split left child: 0.05437918724632018 <br/> 
Gini of the first split right child:0.2575857338820302 <br/>
Total Gini first split: 0.3119649211283504 <br/>
Misclassification of the first split left child: 0.027972027972028024 <br/> 
Misclassification of the first split right child: 0.1518518518518519 <br/>
Total Misclassification first split: 0.17982387982387993 <br/>
The information gain of first split: 0.5789756086483544 <br/>

The feature for the first split is Uniformity of Cell Size. The decision boundary in this feature is 2.5.

In [36]:
breast = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data", header=None)
breast.columns=["Sample code number","Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", 
                "Marginal Adhesion", "Single Epithelial Cell Size","Bare Nuclei", "Bland Chromatin", 
                "Normal Nucleoli", "Mitoses", "Class:"]
breast_pd = breast.drop(columns=["Sample code number"])
imp_breast_pd = breast_pd.replace(to_replace="?",value=0)
imp_breast_pd.isna().sum() #All the nan values are in Bare Nuclei column

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class:                         0
dtype: int64

In [37]:
imp_breast_pd.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class:
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [38]:
breast_tree = DecisionTreeClassifier(max_depth = 2, min_samples_leaf = 2, min_samples_split = 5)
fitted_breast = breast_tree.fit(imp_breast_pd.drop(columns=["Class:","Bare Nuclei"]), imp_breast_pd["Class:"])
imp_breast_pd.columns[fitted_breast.tree_.feature] #Order of splits

Index(['Uniformity of Cell Size', 'Bland Chromatin', 'Mitoses', 'Mitoses',
       'Uniformity of Cell Shape', 'Mitoses', 'Mitoses'],
      dtype='object')

In [39]:
fitted_breast.feature_importances_

array([0.        , 0.88020446, 0.07898489, 0.        , 0.        ,
       0.        , 0.04081065, 0.        ])

In [40]:
imp_breast_pd["Bare Nuclei"] = imp_breast_pd["Bare Nuclei"].astype(np.float64)
imp_breast_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
Clump Thickness                699 non-null int64
Uniformity of Cell Size        699 non-null int64
Uniformity of Cell Shape       699 non-null int64
Marginal Adhesion              699 non-null int64
Single Epithelial Cell Size    699 non-null int64
Bare Nuclei                    699 non-null float64
Bland Chromatin                699 non-null int64
Normal Nucleoli                699 non-null int64
Mitoses                        699 non-null int64
Class:                         699 non-null int64
dtypes: float64(1), int64(9)
memory usage: 54.7 KB

In [41]:
imp_breast_pd.isna().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class:                         0
dtype: int64

In [42]:
new_fitted_breast = breast_tree.fit(imp_breast_pd.drop(columns=["Class:"]), imp_breast_pd["Class:"])
imp_breast_pd.columns[new_fitted_breast.tree_.feature]

Index(['Uniformity of Cell Size', 'Bare Nuclei', 'Mitoses', 'Mitoses',
       'Uniformity of Cell Shape', 'Mitoses', 'Mitoses'],
      dtype='object')

In [43]:
new_fitted_breast.feature_importances_

array([0.        , 0.87550059, 0.07856279, 0.        , 0.        ,
       0.04593662, 0.        , 0.        , 0.        ])

In [44]:
new_fitted_breast.tree_.threshold

array([ 2.5,  5.5, -2. , -2. ,  2.5, -2. , -2. ])

In [45]:
imp_breast_pd.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class:
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.463519,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.640708,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [46]:
print("First Node Entropy: ", my_entropy(imp_breast_pd, "Class:"))
print("First Node Gini: ",my_gini(imp_breast_pd, "Class:"))
print("First Node missclassification: ", my_misclass(imp_breast_pd, "Class:"))

First Node Entropy:  0.9293179372497982
First Node Gini:  0.4518124195406886
First Node missclassification:  0.3447782546494993

In [47]:
index_right = new_fitted_breast.tree_.children_right[0] #4
new_fitted_breast.tree_.impurity[index_right]

0.2575857338820302

In [48]:
index_left = new_fitted_breast.tree_.children_left[0] # 1
new_fitted_breast.tree_.impurity[index_left]

0.05437918724632007

In [49]:
tresh = new_fitted_breast.tree_.threshold[0]
print(tresh)
f1 = imp_breast_pd.columns[new_fitted_breast.tree_.feature[0]]
print(f1)

2.5
Uniformity of Cell Size

In [50]:
rightchild = imp_breast_pd[imp_breast_pd[f1] > tresh]
leftchild = imp_breast_pd[imp_breast_pd[f1] <= tresh]

In [51]:
rightchild.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class:
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000
mean,6.766667,6.359259,6.214815,5.211111,5.074074,6.840741,5.600000,5.514815,2.418519,3.696296
std,2.576921,2.646560,2.708613,3.246369,2.468025,3.606145,2.442499,3.404262,2.462890,0.719087
min,1.000000,3.000000,1.000000,1.000000,2.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,5.000000,4.000000,4.000000,2.000000,3.000000,3.000000,3.000000,3.000000,1.000000,4.000000
50%,7.000000,6.000000,6.000000,5.000000,5.000000,9.000000,6.000000,5.000000,1.000000,4.000000
75%,9.000000,9.000000,8.000000,8.000000,6.000000,10.000000,7.000000,9.000000,3.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [52]:
leftchild.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class:
count,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000
mean,2.939394,1.104895,1.314685,1.293706,2.046620,1.337995,2.076923,1.200466,1.067599,2.055944
std,1.756446,0.306776,0.704653,0.855156,0.786967,1.311337,1.068300,0.846598,0.527380,0.330170
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
50%,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
75%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
max,10.000000,2.000000,4.000000,10.000000,10.000000,10.000000,7.000000,10.000000,8.000000,4.000000

In [53]:
print("Left child entropy: ", my_entropy(leftchild, "Class:"))
print("Left child gini: ", my_gini(leftchild, "Class:"))
print("Left child missclassification: ",my_misclass(leftchild, "Class:"))

Left child entropy:  0.18411742692826688
Left child gini:  0.05437918724632018
Left child missclassification:  0.027972027972028024

In [54]:
print("Right Child entropy: ", my_entropy(rightchild, "Class:"))
print("Right Child gini: ", my_gini(rightchild, "Class:"))
print("Right Child missclassification: ", my_misclass(rightchild, "Class:"))

Right Child entropy:  0.6144552279266028
Right Child gini:  0.2575857338820302
Right Child missclassification:  0.1518518518518519

In [61]:
print("Infomation Gain from Uniformity of Cell Size: ", information_gain(imp_breast_pd, leftchild, rightchild, "Class:"))

Infomation Gain from Uniformity of Cell Size:  0.5789756086483544

In [65]:
breast_train_data, breast_test_data,breast_train_class, breast_test_class = model_selection.train_test_split(imp_breast_pd.drop(columns="Class:"),
                                                                    imp_breast_pd["Class:"],
                                                                    test_size=0.2)

In [67]:
breast_tree = DecisionTreeClassifier(max_depth = 2, min_samples_leaf = 2, min_samples_split = 5).fit(breast_train_data, breast_train_class)

#print("----------------------------Tree with depth classification-----------------------\n")
print(metrics.classification_report(breast_test_class, breast_tree.predict(breast_test_data)))
#print("----------------------------Confusion Matrix---------------------------\n")
print(metrics.confusion_matrix(breast_test_class,breast_tree.predict(breast_test_data)))

              precision    recall  f1-score   support

           2       0.94      0.96      0.95       100
           4       0.89      0.85      0.87        40

   micro avg       0.93      0.93      0.93       140
   macro avg       0.92      0.91      0.91       140
weighted avg       0.93      0.93      0.93       140

[[96  4]
 [ 6 34]]

## Problem 3
Load the **Breast Cancer Wisconsin (Diagnostic)** sample dataset from the **UCI Machine  Learning  Repository**  (The continuous version  at: **wdbc.data**)  into Python using  a  Pandas  dataframe.   Induce  the  same  binary  Decision  Tree as above (now using the continuous data) but perform a PCA dimensionality reduction beforehand.  Using only the first principal component of the data for a model fit, what is the F1, Precision, and Recall of the PCA-based single factor model compared to the original (continuous) data?  Repeat using the first and second principal components.  Using the Confusion Matrix, what are the values for  FP  and  TP  as  well  as  FPR/TPR?  Is  using  continuous  data  in  this  case beneficial within the model?  How?

### Answer

The F1 score of PC1: micro avg: 0.94, macro avg: 0.93, and weighted avg: 0.94 <br/>
The precision of PC1: micro avg: 0.94, macro avg: 0.96, and weighted avg: 0.94 <br/>
The recall of PC1: micro avg: 0.94, macro avg: 0.91, and weighted avg: 0.94 <br/>

The precision of original: micro avg:  0.93 macro avg:  0.93 weighted avg:  0.93<br/>
The recall of original: micro avg:  0.93 macro avg:  0.92 weighted avg:  0.93<br/>
The F1 score of original: micro avg:  0.93 macro avg:  0.92 weighted avg:  0.93<br/>

The PC1 classifier improved on the classifier trained on the original dataset. This improvement was small only contributing 1%-2%.

The FP for B is 0 and the TP for B is 77.
The FP for M is 7 and the TP for M is 30.

The TPR for B is 0.9166 and the FPR for B is 0.
The TPR for M is 1 and the FPR is 0.083333.

Using continous data is beneficial because it improves F1 score, precision and recall. Also it also us to easily reduce the size of our data while still capturing the features that we want.

In [68]:
cont_breast_pd = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data", header=None)
#cont_breast_pd.columns = ["ID", "Diagnosis",radius","texture", "perimeter", "area", "smoothness","compactness",
 #                         "concavity","concave points","symmetry","fractal dimension"]

In [69]:
cont_breast_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
0     569 non-null int64
1     569 non-null object
2     569 non-null float64
3     569 non-null float64
4     569 non-null float64
5     569 non-null float64
6     569 non-null float64
7     569 non-null float64
8     569 non-null float64
9     569 non-null float64
10    569 non-null float64
11    569 non-null float64
12    569 non-null float64
13    569 non-null float64
14    569 non-null float64
15    569 non-null float64
16    569 non-null float64
17    569 non-null float64
18    569 non-null float64
19    569 non-null float64
20    569 non-null float64
21    569 non-null float64
22    569 non-null float64
23    569 non-null float64
24    569 non-null float64
25    569 non-null float64
26    569 non-null float64
27    569 non-null float64
28    569 non-null float64
29    569 non-null float64
30    569 non-null float64
31    569 non-null float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.3+ KB

In [70]:
data_cont_breast_pd = cont_breast_pd.drop(columns=[0,1])
data_cont_breast_pd.describe()

,2,3,4,5,6,7,8,9,10,11,...,22,23,24,25,26,27,28,29,30,31
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [71]:
pca_breast = PCA()
fitted_pca = pca_breast.fit(data_cont_breast_pd)
pca_breast_percent_var = np.around(pca_breast.explained_variance_ratio_, 6)
for i in range(len(pca_breast_percent_var)):
    print(pca_breast_percent_var[i]*100, pca_breast_percent_var[i])

98.2045 0.982045
1.6176 0.016176
0.1558 0.001558
0.0121 0.000121
0.0088 8.8e-05
0.0007 7e-06
0.00039999999999999996 4e-06
9.999999999999999e-05 1e-06
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0

In [72]:
first_pca_breast = PCA(n_components =1)
first_pca_comp = first_pca_breast.fit_transform(data_cont_breast_pd)
first_pca_breast.explained_variance_ratio_

array([0.98204467])

In [73]:
first_pca_comp.mean()

-3.196817932418026e-14

In [86]:
breast_x, breast_x_test, breast_y, breast_y_test = model_selection.train_test_split(first_pca_comp,
                                                                    cont_breast_pd[1],
                                                                    test_size=0.2)
dt_breast = DecisionTreeClassifier(max_depth = 2, min_samples_leaf = 2,min_samples_split = 5).fit(breast_x, breast_y)


#print("----------------------------Tree with depth classification-----------------------\n")
print(metrics.classification_report(breast_y_test, dt_breast.predict(breast_x_test)))
#print("----------------------------Confusion Matrix---------------------------\n")
print(metrics.confusion_matrix(breast_y_test,dt_breast.predict(breast_x_test)))

              precision    recall  f1-score   support

           B       0.89      0.98      0.93        64
           M       0.98      0.84      0.90        50

   micro avg       0.92      0.92      0.92       114
   macro avg       0.93      0.91      0.92       114
weighted avg       0.93      0.92      0.92       114

[[63  1]
 [ 8 42]]

In [87]:
train_data, test_data, train_target, test_target = model_selection.train_test_split(data_cont_breast_pd,
                                                                    cont_breast_pd[1],
                                                                    test_size=0.2)
dt_cont_breast = DecisionTreeClassifier(max_depth = 2, min_samples_leaf = 2,min_samples_split = 5).fit(train_data, train_target)


#print("----------------------------Tree with depth classification-----------------------\n")
print(metrics.classification_report(test_target, dt_cont_breast.predict(test_data)))
#print("----------------------------Confusion Matrix---------------------------\n")
print(metrics.confusion_matrix(test_target,dt_cont_breast.predict(test_data)))

              precision    recall  f1-score   support

           B       0.96      0.85      0.90        80
           M       0.72      0.91      0.81        34

   micro avg       0.87      0.87      0.87       114
   macro avg       0.84      0.88      0.85       114
weighted avg       0.89      0.87      0.87       114

[[68 12]
 [ 3 31]]

In [79]:
two_pca_breast = PCA(n_components =2)
two_pca_comp = two_pca_breast.fit_transform(data_cont_breast_pd)
two_pca_breast.explained_variance_ratio_

array([0.98204467, 0.01617649])

In [80]:
two_pca_comp

array([[1160.1425737 , -293.91754364],
       [1269.12244319,   15.63018184],
       [ 995.79388896,   39.15674324],
       ...,
       [ 314.50175618,   47.55352518],
       [1124.85811531,   34.12922497],
       [-771.52762188,  -88.64310636]])

In [81]:
train2_data, test2_data, train2_target, test2_target = model_selection.train_test_split(two_pca_comp,
                                                                    cont_breast_pd[1],
                                                                    test_size=0.2)
dt_cont_breast = DecisionTreeClassifier(max_depth = 2, min_samples_leaf = 2,
                                        min_samples_split = 5).fit(train2_data, train2_target)


#print("----------------------------Tree with depth classification-----------------------\n")
print(metrics.classification_report(test2_target, dt_cont_breast.predict(test2_data)))
#print("----------------------------Confusion Matrix---------------------------\n")
print(metrics.confusion_matrix(test2_target,dt_cont_breast.predict(test2_data)))

              precision    recall  f1-score   support

           B       0.93      0.96      0.94        77
           M       0.91      0.84      0.87        37

   micro avg       0.92      0.92      0.92       114
   macro avg       0.92      0.90      0.91       114
weighted avg       0.92      0.92      0.92       114

[[74  3]
 [ 6 31]]

## Problem 4
Simulate a binary classification dataset with a single feature using a mixture of normal distributions with NumPy(Hint:  Generate two data frames with the random  number  and  a  class  label,  and  combine  them  together).   The  normal distribution  parameters  **np.random.normal**  should  be  (5,2)  and  (-5,2)  for the pair of samples.  Induce a binary Decision Tree of maximum depth 2, and obtain the threshold value for the feature in the first split.  How does this value compare to the empirical distribution of the feature?

### Answer

The split threshold of the first split is -0.48002306 which is very close to the median of concatinated random datasets. The median is actually at -0.06113229204151116. This would make sense as a split because most of c1 will be above this threshold and most of c2 will be less than the threshold.

In [88]:
import random

In [89]:
np.random.seed(267) #267
rand_data_1 = np.random.normal(5,2,500 )
rand_data_2 = np.random.normal(-5, 2, 1000-500)
class_1 = np.repeat("c1", 500)
class_2 = np.repeat("c2", 1000-500)
pd_1 = pd.DataFrame(dict(zip(['f1','Class'],[rand_data_1,class_1])))
pd_2 = pd.DataFrame(dict(zip(['f1','Class'],[rand_data_2,class_2])))
rand_data_frame = pd.concat([pd_1,pd_2])
rand_data_frame.describe()

                f1
count  1000.000000
mean     -0.002313
std       5.293827
min     -10.353750
25%      -4.923400
50%      -0.061132
75%       4.857598
max       9.926335

In [90]:
rand_data_frame["f1"].var()

28.024599768152704

In [91]:
dt_rand = DecisionTreeClassifier(max_depth = 2).fit(rand_data_frame.drop(columns=["Class"]), rand_data_frame["Class"])
dt_rand.tree_.threshold

array([-0.48002306, -0.90108308, -2.        , -2.        ,  0.72923988,
       -2.        , -2.        ])

In [92]:
rand_data_frame.columns[dt_rand.tree_.feature]

Index(['f1', 'f1', 'f1', 'f1', 'f1', 'f1', 'f1'], dtype='object')

In [93]:
rand_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 499
Data columns (total 2 columns):
f1       1000 non-null float64
Class    1000 non-null object
dtypes: float64(1), object(1)
memory usage: 23.4+ KB

In [126]:
print("min of c1: ", rand_data_frame[rand_data_frame["Class"] == "c1"]["f1"].min())
print("median of c1: ", rand_data_frame[rand_data_frame["Class"] == "c1"]["f1"].median())
c1_pd = rand_data_frame[rand_data_frame["Class"] == "c1"]
c1_pd = c1_pd[c1_pd["f1"] < 4.86202]
print("Lower half of c1 median:", c1_pd["f1"].median())

min of c1:  -0.8461028881213419
median of c1:  4.862024474793273
Lower half of c1 median: 3.5262385889406183

In [125]:
print("max of c2: ", rand_data_frame[rand_data_frame["Class"] == "c2"]["f1"].max())
print("median of c2: ", rand_data_frame[rand_data_frame["Class"] == "c2"]["f1"].median())
c2_pd = rand_data_frame[rand_data_frame["Class"] == "c2"] 
c2_pd = c2_pd[c2_pd["f1"]> -4.92745]
c2_pd["f1"].median()

max of c2:  0.7283188149442736
median of c2:  -4.927450383347026

-3.655450304469958

In [128]:
sm_pd_c1_c2 = pd.concat([c1_pd,c2_pd])
sm_pd_c1_c2.median()

f1   -0.061132
dtype: float64

In [129]:
rand_data_frame["f1"].median()

-0.06113229204151116

In [130]:
rand_data_frame["f1"].mean()

-0.002313271404979895